<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SHSCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=(LocalDb)\v11.0;Database=SaurabhSkinDB;Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <userSettings>
    <SHSCC.Properties.Settings>
      <setting name="Modalities" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>approach</string>
            <string>bathing after</string>
            <string>bathing during</string>
            <string>coldair</string>
            <string>cover</string>
            <string>dampness</string>
            <string>During riding</string>
            <string>morning rising after</string>
            <string>motion</string>
            <string>night warmth of bed.</string>
            <string>presure riding</string>
            <string>rainy weather</string>
            <string>rest touch rubbuing</string>
            <string>springseasion</string>
            <string>storm</string>
            <string>summer</string>
            <string>Sun heat</string>
            <string>uncover</string>
            <string>wet</string>
            <string>winter</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Symptoms" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Default</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BodyParts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Default</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Discharge" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Thin</string>
            <string>Yellow</string>
            <string>Watery</string>
            <string>Thick</string>
            <string>White</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RegNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Complaints" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Default</string>
            <string>Other</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultDir" serializeAs="String">
        <value />
      </setting>
      <setting name="MenuBackColor" serializeAs="String">
        <value>CornflowerBlue</value>
      </setting>
      <setting name="PatID" serializeAs="String">
        <value>0</value>
      </setting>
    </SHSCC.Properties.Settings>
  </userSettings>
  
</configuration>
